layout {
    cwd "/home/dama"
    tab name="Code" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane {
                cwd "/home/dama/repos/beo-airoha"
                command "/home/dama/.opencode/bin/opencode"
                size "40%"
                start_suspended true
            }
            pane {
                command "zsh"
                args "source venv/bin/activate && /snap/bin/nvim ."
                cwd "/home/dama/repos/beo-airoha"
                size "60%"
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="AirTools" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane {
                cwd "/home/dama/repos/faraday-tools"
                command "/home/dama/.opencode/bin/opencode"
                size "40%"
                start_suspended true
            }
            pane {
                cwd "/home/dama/repos/faraday-tools"
                command "zsh"
                args "source venv/bin/activate && /snap/bin/nvim ."
                size "60%"
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Logging" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane cwd="repos/faraday-tools" size="50%"
            pane cwd="repos/faraday-tools" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}